@{
	ViewData["Title"] = "Proyectos Habitacionales";
}

@await Html.PartialAsync("userAccess")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<div class="container d-flex justify-content-center align-items-center">
    <a href="@Url.Action("Create", "Habitacionales")">
        <img src="Iconos\Agregar.png" style="width:50px; height:50px; margin:5px" />
    </a>
</div>

<div class="text-center">
	<div class="container">
		@foreach (var @item in @ViewBag.Habitacional)
		{
			<div class="card" style="width: 18rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title"> @item.Nombre_Habitacional </h5>
					<p class="card-text"> @item.Direccion_Habitacional </p>
					<a href="#" class="btn btn-primary"> Editar </a>
					<a href="#" class="btn btn-danger"> Borrar </a>
				</div>
			</div>
		}
	</div>
</div>